## ignore this folder##
/target/
/.idea/
/.settings/
/.vscode/
/__pycache__/
/logs/


.classpath
.project
.settings
.idea

## ignore file
*.7z
*.gz
*.rar
*.tar
*.zip
*.log
*.holder
*.pyc
*.pid
*.bak
*.dat
*.dir
*.lock
*.html

