async-generator==1.10
attrs==21.4.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.1.1
colorama==0.4.4
configparser==5.2.0
crayons==0.4.0
crypto==1.4.1
cryptography==36.0.2
Deprecated==1.2.13
et-xmlfile==1.1.0
Flask==2.1.1
greenlet==1.1.2
h11==0.13.0
idna==3.3
importlib-metadata==4.11.2
importlib-resources==5.4.0
itsdangerous==2.1.2
Jinja2==3.0.3
jmespath==0.10.0
jsonschema==4.4.0
Logbook==1.5.3
loguru==0.5.3
MarkupSafe==2.1.0
Naked==0.1.31
openpyxl==3.0.9
outcome==1.1.0
packaging==21.3
parameterized==0.8.1
playwright==1.17.2
redis==3.4.1
requests==2.25.1
seldom==2.3.3
